/*
style.css
*/


/*
CSS Reset
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}


/*
Project CSS
*/
:root {
    --primary-color: hsl(0, 0%, 15%);
    --secondary-color: hsl(0, 0%, 100%);
    --accent-color: hsl(281, 100%, 15%);
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / -1;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.sidebar {
    grid-row: 1 / -1;
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.content {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}