/*
style.css
*/


/*
CSS Reset
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}


/*
Project CSS
*/

:root {
    --clr-background: hsl(0, 0%, 80%);
    --clr-foreground: hsl(0, 0%, 100%);
    --clr-accent: hsl(281, 100%, 15%);
    --clr-shadow: black;
    --clr-text: black;
}

body {
    font-family: "Roboto", Arial, sans-serif;

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / -1;
    color: var(--clr-text);
    background-color: var(--clr-foreground);

    display: flex;
    flex-direction: column;
}

.sidebar {
    grid-row: 1 / -1;
    color: var(--clr-foreground);
    background-color: var(--clr-accent);

    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
}

.content {
    color: var(--clr-text);
    background-color: var(--clr-background);
    box-shadow: inset 0px 15px 20px -20px  var(--clr-shadow);

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

button {
    background-color: transparent;
    border: transparent;
    font-size: 1.5rem;
    font-weight: 600;
}

.fill-primary {
    fill: var(--clr-background);
}

.fill-secondary {
    fill: var(--clr-foreground);
}

.fill-accent {
    fill: var(--clr-accent);
}

/* sidebar */
.sidebar-title {
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
}

.sidebar-title>svg {
    flex-shrink: 0;
}

.sidebar-button {
    color: var(--clr-foreground);

    display: flex;
    align-items: center;
    gap: 1ch;
}

.sidebar-navigation {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-settings-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* header */
.header-top {
    display: flex;
}

.search-bar {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 1ch;
    padding-inline-start: 20px;
    padding-inline-end: 500px;
}

.search-bar>input {
    flex: 1;

    background-color: var(--clr-background);
    border: 1px solid transparent;
    border-radius: 15px;
    padding-inline: 2ch;
}

.profile-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    box-shadow: 10px 10px 15px -15px var(--clr-shadow);
}

.profile-button {
    display: flex;
    align-items: center;
    gap: 1ch;
}

.header-bottom {
    flex: 1;

    display: flex;
    align-items: center;
    padding: 0px 20px 20px 20px;
}

.profile-welcome {
    flex: 1;
    display: flex;
    gap: 10px;
}

.header-bottom-buttons {
    display: flex;
    gap: 20px;
}

.header-bottom-buttons>button {
    color: var(--clr-foreground);
    background-color: var(--clr-accent);
    font-weight: 600;
    border-radius: 50px;
    width: 120px;
    height: 40px;
    box-shadow: 10px 10px 15px -15px var(--clr-shadow);
}

/* Content */
.projects {
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects-container {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
}

.card {
    color: var(--clr-text);
    background-color: var(--clr-foreground);
    border-left: 10px solid var(--clr-accent);
    border-radius: 10px;
    box-shadow: 20px 20px 20px -20px var(--clr-shadow);

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 20px 30px;
}

.card > p {
    flex: 1;
    max-width: 50ch;
}

.card-footer {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.announcements-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background-color: var(--clr-foreground);
    border-radius: 10px;
    box-shadow: 20px 20px 20px -20px var(--clr-shadow);
}

.announcements-container article {
    padding-left: 10px;
    border-left: 1px solid var(--clr-accent);
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.trending-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 30px;
    background-color: var(--clr-foreground);
    border-radius: 10px;
    box-shadow: 20px 20px 20px -20px var(--clr-shadow);
}

.trending-item {
    display: flex;
    gap: 20px;
    align-items: center;
}